$accentPrimary: #16a085;
$textPrimary: #ffffff;

.Header {
  background-color: $accentPrimary;
  width: 100%;
  height: 5rem;
  text-align: center;
  color: $textPrimary;
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 1rem;
}

.viewItems {
  width: 60%;
  height: 80rem;
  margin: 3rem auto;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }

  &-noItems {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

    & img {
      width: 65rem;
    }
  }
}

.addBtn {
  width: 10rem;
  height: 10rem;
  background-color: $accentPrimary;
  border-radius: 100%;
  text-align: center;
  font-size: 8.5rem;
  color: $textPrimary;
  font-weight: bolder;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3rem;
  cursor: pointer;
  z-index: 101;
}

.inputForm {
  &-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    z-index: 100;

  }

  &-content {
    align-self: end;
    height: 50rem;
    width: 50%;
    border-radius: 2rem 2rem 0 0;
    background-color: #ffff;
    border: 3px solid $accentPrimary;
    border-bottom: none;
    animation: addCard 0.5s ease-in;
    padding: 3rem;
    text-align: center;
    & input {
      width: 80%;
      height: 5rem;
      border: 2px #16a085 solid;
      border-radius: 10px;
      margin: 3rem auto;
      padding: 2rem;
      font-size: 3rem;
    }

    & button{
        width: 5rem;
        height: 3rem;
        background-color: $accentPrimary;
        color: $textPrimary;
        border-radius: 5px;
    }
  }
}

@keyframes addCard {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}



.viewList{

    &-wrapper{
        list-style: none;
        padding: 3rem;

        & li{
            width: 80%;
            margin: 0 auto;
            padding: 2rem;
            box-shadow: rgba(0, 0, 0, 0.384) 15px 15px 25px;
            margin-bottom: 3rem;
            font-size: 3rem;

            & div{
                float: right;
                background-color: rgb(233, 69, 69);
                color: $textPrimary;
                text-align: center;
                padding:0.4rem;
                cursor: pointer;
                position: relative;
                z-index: 99;
            }
        }
    }

  


}